export CARDANO_GQL_URL=<CARDANO-NODE_URL>
export DATABASE_URL="postgres://postgres:postgres@localhost/pool_watch_dev"

export TWITTER_DEFAULT_CONSUMER_KEY=<DEFAULT_CONSUMER_KEY>
export TWITTER_DEFAULT_CONSUMER_SECRET=<DEFAULT_CONSUMER_SECRET>
export TWITTER_USER_KEY=<TWITTER_DEFAULT_USER_KEY>
export TWITTER_USER_SECRET=<TWITTER_DEFAULT_USER_SECRET>

export SEND_DEFAULT_NOTIFICATION=false
