export CARDANO_GQL_URL=<CARDANO-NODE_URL>
export DATABASE_URL="postgres://postgres:postgres@localhost/pool_watch_dev"

export SEND_DEFAULT_NOTIFICATION=false

export TWITTER_CONSUMER_KEY=
export TWITTER_CONSUMER_SECRET=
export TWITTER_DEFAULT_CONSUMER_KEY=
export TWITTER_DEFAULT_CONSUMER_SECRET=
export TWITTER_USER_KEY=
export TWITTER_USER_SECRET=

export TEST_DISCORD_WEBHOOK=
export SEND_DEFAULT_NOTIFICATION=true
export SENDGRID_API_KEY=